@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rumble {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.animate-rumble {
  animation: rumble 0.4s ease-in-out;
}
